drawn_chambers/run_988_event_0_y.png
drawn_chambers/run_988_event_1_y.png
drawn_chambers/run_988_event_2_y.png
drawn_chambers/run_988_event_3_y.png
drawn_chambers/run_988_event_4_y.png
drawn_chambers/run_988_event_5_y.png
drawn_chambers/run_988_event_8_y.png
drawn_chambers/run_988_event_9_y.png
drawn_chambers/run_988_event_10_y.png
drawn_chambers/run_988_event_11_y.png
drawn_chambers/run_988_event_13_y.png
drawn_chambers/run_988_event_14_y.png
drawn_chambers/run_988_event_15_y.png
drawn_chambers/run_988_event_16_y.png
drawn_chambers/run_988_event_19_n.png
drawn_chambers/run_988_event_22_y.png
drawn_chambers/run_988_event_23_y.png
drawn_chambers/run_988_event_24_y.png
drawn_chambers/run_988_event_25_y.png
drawn_chambers/run_988_event_26_y.png
drawn_chambers/run_988_event_33_y.png
drawn_chambers/run_988_event_49_y.png
drawn_chambers/run_988_event_60_y.png
drawn_chambers/run_988_event_133_n.png
drawn_chambers/run_988_event_135_n.png
Output/Drift Velocity for Time of Chamber 1.png
Output/Drift Velocity for Time of Chamber 2.png
Output/Drift Velocity for Time of Chamber 3.png
Output/Fit for Chamber 1.png
Output/Fit for Chamber 2.png
Output/Fit for Chamber 3.png
Output/r(t) for Chamber1.png
Output/r(t) for Chamber2.png
Output/r(t) for Chamber3.png
analysis
drawchambs
drawn_chambers.zip
effgraphs
efficiencies_layers.pdf
efficiencies_layers.pdf
efficiencies_layers.pdf
reco_run522_analysis.root
reco_run522.root
reco_run522.root:Zone.Identifier
reco_run525_analysis.root
reco_run525.root
reco_run525.root:Zone.Identifier
reco_run526_analysis.root
reco_run526.root
reco_run526.root:Zone.Identifier
reco_run527_analysis.root
reco_run527.root
reco_run527.root:Zone.Identifier
reco_run528_analysis.root
reco_run528.root
reco_run528.root:Zone.Identifier
reco_run529_analysis.root:Zone.Identifier
reco_run988_analysis.root
reco_run2800_analysis.root
reco_run2800.root
reco_run2800.root:Zone.Identifier
reco_run2850_analysis.root
reco_run2850.root
reco_run2850.root:Zone.Identifier
reco_run3100_analysis.root
reco_run3100.root
reco_run3100.root:Zone.Identifier
efficiencies_layers.pdf
effgraphs
chambers.cpp
drawn_chambers/run_988_event_5_y_chisq19.994839.png
drawn_chambers/run_988_event_11_y_chisq6.326251.png
drawn_chambers/run_988_event_19_u_chisq16405.632710.png
drawn_chambers/run_988_event_21_y_chisq9.497216.png
drawn_chambers/run_988_event_22_y_chisq9.607053.png
drawn_chambers/run_988_event_33_y_chisq7.963303.png
